extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle(data-toggle="collapse" data-target=".navbar-collapse")
                    span.sr-only Toggle Navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar  
                a.navbar-brand(href="/") 
                  div 
                    img(src="img/hop.png") 
                    span MEAN Brew
                  
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    li
                        a(href="/") Browse Recipes
                    

                span(ng-include="'/partials/account/navbar-login'")
    section.content
        div(ng-view)
    div#footerpush
    
block footer
    footer
      .container.text-center 
          .nav.footer-nav
              a(href="https://github.com/justinrassier/meanBrew") MEAN Brew on GitHub
            