extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") MEAN HOME
                    h6 -A MEAN Example
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") MEAN HOMES
                    li
                        a(href="/courses") Courses
                div(ng-include="'/partials/account/navbar-login'")
    section.content
        div(ng-view)

    footer.container.text-center
        p &copy; 2014 Justin Rassier