.container
    .well
        h3 My Recipes
        .row
            .col-md-3(ng-repeat="recipe in recipes")
                a(href="#") {{recipe.name}} - {{recipe.style}}
                div recipe details




