.navbar-right(ng-controller="mvNavBarLoginCtrl")
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        ul.nav.navbar-nav
            li
                a(href="/signup") Sign Up
        .form-group
            input.form-control(placeholder="Email", ng-model="username")
        .form-group
            input.form-control(placeholder="Passord", type="password", ng-model="password")
        button.btn.btn-primary(ng-click="signin(username, password)") Sign In
    ul.nav.navbar.nav.navbar-right(ng-show="identity.isAuthenticated()")
        li.dropdown
            a.dropdown-toggle(href="", data-toggle="dropdown")
                | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
                b.caret
            ul.dropdown-menu
                li
                    a(href="/recipe") My Recipes
                li
                    a(href="/") My Equipment
                li
                    a(href="/profile") Account
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="/admin/users") User Admin
                li
                    a(href="", ng-click = "logout()") Sign Out

