.container
    .jumbotron
        h1 MEAN Test
        p This is some subtext that I am going to put here for a placeholder.

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")